
<div class="container">
    <div class="row">
        <div class="card bg-info border-success mb-3" style="width: 18rem;"  *ngFor="let post of postsService.posts;">
            <div class="card-header border-success ">
                <span class="float-right text-danger" ><i class="fas fa-minus-circle"></i> </span>
                <h5 class=" text-dark">{{post.title}}</h5>
            </div>
            <div class="card-body text-white ">
              <p class="card-text">{{post.body}}</p>
            </div>
        </div>
    </div>
</div>
